//====================================================================================================
.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  
  &::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease 0s;
  }
  
  &.show {
    visibility: visible;
    overflow: auto;
    
    &::before {
      opacity: 1;
    }
    
    .popup__body {
      transform: scale(1);
    }
  }
  
  &._active {
    overflow: auto;
    visibility: visible;
    
    &::before {
      opacity: 1;
    }
    
    .popup__body {
      transition: all 0.3s ease 0.2s;
      transform: scale(1);
    }
  }
  
  // .popup__content
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  // .popup__body
  &__body {
    transform: scale(0);
    transition: all 0.3s ease 0s;
    background-color: #2C2F30;
    padding: 60px 87px 55px 60px;
    width: 100%;
    max-width: 90%;
    border-radius: 11px;
    
    &._pwp {
      max-width: 510px;
    }
    
    
    @media (max-width: $md1+px) {
      padding: 50px 67px 45px 50px;
    }
    @media (max-width: $md2+px) {
      padding: 40px 47px 35px 40px;
    }
    @media (max-width: $md3+px) {
      padding: 30px 27px 25px 30px;
    }
    @media (max-width: $md4+px) {
      padding: 20px 17px 15px 20px;
    }
  }
  
  // .popup__close
  &__close {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 30;
    background: url("../img/icons/close.svg") 0 0 / contain no-repeat;
  }
}

//====================================================================================================
.more-popup {
  display: flex;
  min-width: 0;
  
  &__body {
    display: flex;
    min-width: 0;
    
    @media (max-width: $md2+px) {
      flex-direction: column;
    }
  }
  
  &__sliders {
    flex: 0 0 60%;
    margin-left: 3%;
    min-width: 0;
    
    @media (max-width: $md2+px) {
      flex: 1 1 100%;
    }
  }
  
  &__oman {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7.33333px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    position: relative;
    display: inline-block;
    margin-bottom: 8px;
    
    &:after {
      content: '';
      width: 100%;
      height: 1px;
      position: absolute;
      left: calc(100% + 10px);
      top: 50%;
      transform: translateY(-50%);
      background: white;
      @media (max-width:$md2+px){
        display: none;
      }
    }
    
  }
  
  &__texts {
    @media (max-width: $md2+px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 40px;
    }
  }
  
  &__name {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 800;
    line-height: 1.15;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 40px;
    margin-bottom: 73px;
    
    @media (max-width: $md1+px) {
      font-size: 35px;
      margin-bottom: 63px;
    }
    @media (max-width: $md2+px) {
      font-size: 30px;
      margin-bottom: 53px;
    }
    @media (max-width: $md3+px) {
      font-size: 25px;
      margin-bottom: 43px;
    }
    @media (max-width: $md4+px) {
      margin-bottom: 33px;
    }
  }
  
  &__text {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 15px;
    margin-bottom: 20px;
    
    &:last-child {
      margin-bottom: 50px;
      
      @media (max-width: $md1+px) {
        margin-bottom: 45px;
      }
      @media (max-width: $md2+px) {
        margin-bottom: 35px;
      }
      @media (max-width: $md3+px) {
        margin-bottom: 25px;
      }
      @media (max-width: $md4+px) {
        margin-bottom: 20px;
      }
    }
    

    @media (max-width: $md4+px) {
      font-size: 14px;
    }
  }
  
  &__btn-group {
    display: inline-flex;
    flex-direction: column;
    
    @media (max-width:$md2+px){
      display: none;
    }
    
    &._back{
      display: none;
      
      @media (max-width:$md2+px){
        margin-top: 30px;
        display: flex;
      }
    }
    
  }
  
  &__btn {
    padding: 18px 53px;
    margin-bottom: 24px;
    
    @media (max-width: $md1+px) {
      padding: 17px 45px;
    }
    @media (max-width: $md2+px) {
      padding: 16px 35px;
    }
    @media (max-width: $md3+px) {
      padding: 15px 25px;
    }
    @media (max-width: $md4+px) {
      padding: 14px 25px;
    }
  }
  
  &__btn2 {
    padding: 18px 53px;
    background: transparent;
    border: 1px solid #469BB7;
    
    @media (max-width: $md1+px) {
      padding: 17px 45px;
    }
    @media (max-width: $md2+px) {
      padding: 16px 35px;
    }
    @media (max-width: $md3+px) {
      padding: 15px 25px;
    }
    @media (max-width: $md4+px) {
      padding: 14px 25px;
    }
  }
  
  &__slider {
  }
  
  &__dotts {
    margin: 0 auto;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    
    
    &:last-child {
      margin-right: 0;
    }
    
    
    @media (max-width: $md1+px) {
      margin-top: 25px;
    }
    @media (max-width: $md2+px) {
      margin-top: 20px;
    }
    @media (max-width: $md3+px) {
      margin-top: 15px;
    }
  }
  
}

.slider-popup {
  margin-bottom: 27px;
  min-width: 0;
  
  
  &__slide {
    width: 567px;
    height: 433px;
    position: relative;
    border-radius: 11px;
    overflow: hidden;
    
    img {
      max-width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  &__slide2 {
    width: 567px;
    position: relative;
    border-radius: 11px;
    overflow: hidden;
    
    img {
      max-width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.slider-popup2 {
  height: 187px;
  @media (max-width: $md4+px) {
    display: none;
  }
  
  &__wrapper {
  }
  
  &__slide {
    width: 567px;
    height: 433px;
    position: relative;
    
    img {
      max-width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

//====================================================================================================

.pwp-popup {
  
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    input,select {
      margin-bottom: 30px;
      font-family: Fira Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      width: 252px;
      height: 50px;
      display: flex;
      border-radius: 22px;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
    }
    option {
      font-family: Fira Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
    }
    select:focus{
      border-radius: 22px 22px 0 0;
    }
    
    button {
      width: 252px;
      height: 50px;
      border-radius: 22px;
    }
  }
  
  &__name {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 1.2;
    color: #FFFFFF;
    margin-bottom: 56px;
  }
  
  &__btn {
  }
}

//====================================================================================================

.feedback-popup {
  
  &__body {
    max-width: 771px;
    margin: 0 auto;
  }
  
  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
  }
  
  &__description {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    max-width: 771px;
    margin-bottom: 36px;
  }
  
  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media (max-width: $md3+px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
  }
  
  &__input {
    background: #FFFFFF;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 252px;
    height: 49px;
    padding: 0 20px;
    margin-right: 10px;
    
    @media (max-width: $md1+px) {
      width: 232px;
    }
    @media (max-width: $md2+px) {
      width: 212px;
    }
    @media (max-width: $md3+px) {
      width: 252px;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  
  &__btn {
    width: 252px;
    height: 49px;
    border-radius: 22px;
  }
}